<html>
<head>
    <meta charset="utf8">

    <style>
div[dir='rtl'] * {
    direction: rtl;
}
body{
    font-family: Vazir;
    direction: rtl;
    font-size: 14px;
}
.question-box{
    break-inside: avoid;
    margin: 0 20px
    /* border-bottom: 2px dashed #afafaf; */
}
.question-text{
    font-weight: 500;
}
.choices .choice-item {
    display: inline-block;
    break-inside: avoid;
    margin-left: 30px;
}
.choices .choice-item p, .choices .choice-item div {
    display: inline;
    margin-top: 0;
    margin-bottom: 5px;
}
.choices {
    text-align: right;
}
span.choice-num {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
}
img{
    vertical-align: middle;
}
p{
    direction: ltr;
}
p[dir='rtl']{
    direction: rtl;
}
body{
    font-family: Vazir;
    direction: rtl;
    font-size: 14px;
}
.page {
  page-break-after: always;
}
@media print {
    @page {
        margin-bottom: 20mm;
    }
    body{
        margin-bottom: 2cm;
    }
}
@media print {
   tfoot {display: table-footer-group;}


   body {margin: 0;}
}
.question-box{
    break-inside: avoid;
    margin: 0 20px
    /* border-bottom: 2px dashed #afafaf; */
}
.question-text{
    font-weight: 500;
}
.choices .choice-item {
    display: inline-block;
    break-inside: avoid;
    margin-left: 30px;
}
.choices .choice-item p, .choices .choice-item div {
    display: inline;
    margin-top: 0;
    margin-bottom: 5px;
}
.choices {
    text-align: right;
}
span.choice-num {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
}
img{
    vertical-align: middle;
}
p{
    direction: ltr;
}
p[dir='rtl']{
    direction: rtl;
}
    .key-answer{
        display: inline-block;
        margin-right: 50px;
        margin-bottom: 20px;
    }
        div#k-answers {
    margin: 30px 20px 30px 20px;
    padding: 10px;
}

.answer-box>p:first-child {
    direction: rtl;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    background: #00bcd4;
}

.key-answer b {
    background: gainsboro;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
}
.answer-box {
    margin: 0 20px;
}
    </style>
</head>
<body>
<table>
    <thead><tr><td></td></tr></thead>
    <tbody><tr><td>
        <div class="page">
            <div id="questions">{{__questions__}}</div>
            <div  style="direction: ltr" id="k-answers">{{__k_answers__}}</div>
            <div id="answers">{{__answers__}}</div>
        </div>
    </td></tr></tbody><tfoot><tr><td><div style="text-align: center">{{__footer__}}</div></td></tr></tfoot></table></body>
